* {
    box-sizing: border-box;
}


/********
**-Nav-**
********/

.nav {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    transition: background 250ms ease;
    text-transform: uppercase;
}

.nav--fixed {
    position: fixed;
    width: 100%;
    z-index: 999;
}

/** Closed **/

/* Logo */


.nav__logo {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5rem;
    z-index: 2;
    color: black;
    transition: color 250ms ease;
}

/* Toggle */

.nav__button {
    font-size: 2rem;
    z-index: 2;
    width: 1em;
    height: .75em;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    position: relative;
    cursor: pointer;
    outline: none;
}
.nav__toggle-line {
    width: 100%;
    height: 10%;
    background: black;
    display: block;
    transition: all 150ms ease;
}

.nav__toggle-line--top {
    position: absolute;
    top: 0;
}

.nav__toggle-line--bottom {
    position: absolute;
    bottom: 0;
}




/* Links */

/* Site */

.nav__links-container {
    display: block;
    background: black;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: -100%;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    transition: all .3s cubic-bezier(.27,.89,.29,.82);
    z-index: 1;
}

.nav__links {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
}


.nav__link {
    display: block;
    font-family: 'Open Sans', sans-serif;
    padding: 4em;
    text-decoration: none;
    color: white;
    opacity: 1;
}

.nav__link--grey-on-hover:hover {
    color: rgba(255,255,255,0.5);
}

/* Social */

.nav__socials {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    padding: 1rem;
    position: absolute;
    bottom: 0;
}

.nav__social {
    color: white;
    text-decoration: none;
}





/*** Open ***/

.nav--open .nav__logo {
    color: white;

}

.nav--open .nav__links-container {
    top: 0;
    opacity: 1;
}

.nav--open .nav__toggle-line--top {
    top: 45%;
    transform: rotate(45deg);
    background: white;
}
.nav--open .nav__toggle-line--bottom {
    bottom: 45%;
    transform: rotate(-45deg);
    background: white;
}


/** Tablet **/

@media screen and (min-width: 500px) {

    .nav {
        padding: 2em;
    }

}

/** Desktop **/

@media screen and (min-width: 900px) {

    .nav {
        font-size: 1.2rem;
    }

}

/** Large Desktop **/

@media screen and (min-width: 1200px) {

    .nav {
        justify-content: flex-end;
        border: 1px solid red;
        padding: 0 3rem;
    }

    .nav--fixed {
        width: 25%;
        height: calc(50% - 11rem);
    }

    .nav__logo {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        height: 100%;
        width: auto;
        color: white;
        border: 1px solid blue;
    }

    .nav__logo-nick,
    .nav__logo-field {
        display: inline-block;
        border: 1px solid green;
        height: 5rem;
    }

    .nav__logo-nick {
        width: 7rem;
        background: green;
    }

    .nav__logo-field {
        width: 9rem;
        background: yellow;
    }

    .nav__links-container {
        top: 0;
        opacity: 1;
        width: 25%;
        transition-duration: 0ms;
    }

    .nav__link {
        text-align: right;
        padding: 3rem;
        border: 1px solid red;
    }

    .nav__button {
        display: none;
    }

}
