* {
    box-sizing: border-box;
}


/*
Nav
*/

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid green;
    padding: 1rem;
}

/* Closed */


.nav__logo-container {
    font-size: 1rem;
    padding: 1rem;
    border: 1px solid grey;
}
.nav__logo {
    text-decoration: none;
}




.nav__links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 16rem;
    border: 1px solid red;
}

.nav__links {
    list-style: none;
    display: flex;
    width: 15rem;
    justify-content: center;
    font-size: 1rem;
    padding: 0;
    border: 1px solid indigo;
}
.nav__link {
    display: inline-block;
    padding: .5rem;
    border: 1px solid green;

}
.nav__slash {

}




.nav__toggle-container {
    display: flex;
    margin-left: 1rem;
    border: 1px solid blue;
}
.nav__button {
    width: 2.9rem;
    height: 2.5rem;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    position: relative;
}
.nav__toggle-line {
    width: 100%;
    height: 20%;
    background: black;
    display: block;
}



.nav__toggle-line--top {
    position: absolute;
    top: 0;
}



.nav__toggle-line--bottom {
    position: absolute;
    bottom: 0;
}



/* Open */

.nav--open {
}

.nav--open .nav__logo {

}
.nav--open .nav__links-container {}


.nav--open .nav__toggle-line--top {}
.nav--open .nav__toggle-line--bottom {}
